@media screen and (min-width: 870px) and (max-width: 1200px) {
  .backgroundimg {
    height: 100vh;
  }
  
  .alternatebgimg {
    display: none;
  }

  nav ul li a {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }

  .navbar {
    position: relative;
    text-align: center;
  }

  .tileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 870px) {
  
  .backgroundimg {
    display: none;
  }

  .alternatebgimg {
    height: 100vh;
  }

  nav ul li a {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }

  .navbar {
    position: relative;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .backgroundimg {
    width: 120vw
  }

  .alternatebgimg {
    display: none;
  }

  nav ul li a {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .navbar {
    position: relative;
    text-align: center;
  }

  .tileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.bg-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgb(167, 174, 175);
  opacity: 60%;
  position: absolute;
}

.contents {
  position: absolute;
}

.heading {
  width: 100vw;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.body {
  width: 100vw;
}

.heading h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 5em;
}

.introTile {
  background-color: rgba(125, 228, 241, 0.562);
  margin: 40px;
  border-radius: 10px;
}

.introTile:hover {
  background-color: rgba(243, 109, 192, 0.8);
  transition: 0.8s;
}

#menu {
  margin: 40px;
  padding: 10px;
  border-top:1px solid black;
  border-bottom: 1px solid black;
}

#parent {
  position: relative;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

#intro {
  text-align: center;
  font-size: 2em;
}
